<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>入力フォーム</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <div id='lesson'>Node.js Lesson4</div>
    <ul>
      <a href="/bord"><li >みんなの投稿</li></a>
      <a href="/post"><li>投稿を作成</li></a>
      <li id="username"><%= user %></li>
    </ul>
  </header>
  <table align="center" id='bord'>
    <tr>
      <td style="width: 1008px">テスト投稿</td>
    </tr>
    <tr>
      <td tyle="width: 1008px">コンテンツ</td>
    </tr>
    <tr>
      <td tyle="width: 1008px">投稿者: ヤブタ</td>
    </tr>
  </table>

  <table align="center" id='bord'>
    <tr>
      <td style="width: 1008px">テスト投稿</td>
    </tr>
    <tr>
      <td tyle="width: 1008px">テストコンテンツ</td>
    </tr>
    <tr>
      <td tyle="width: 1008px">投稿者: あああああ</td>
    </tr>
  </table>

  <table align="center" id='bord'>
    <tr>
      <td style="width: 1008px">テスト投稿</td>
    </tr>
    <tr>
      <td tyle="width: 1008px">コンテンツテスト</td>
    </tr>
    <tr>
      <td tyle="width: 1008px">投稿者: いいいいい</td>
    </tr>
  </table>
</body>
</html>