<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>入力フォーム</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <div id='lesson'>Node.js Lesson4</div>
    <ul>
      <a href="#"><li >みんなの投稿</li></a>
      <a href="#"><li>投稿を作成</li></a>
      <a href="/"><li>Login</li></a>
      <a href="/register"><li>register</li></a>
    </ul>
  </header>
<h1>新規登録フォーム</h1>
<form action="/" method="POST">
    name <input type="text" name="name"><br>
    email <input type="email" name="email"><br>
    password <input type="password" name="password"><br>
    <button type="submit">登録</button>
</form>
</body>
</html>